@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .my-container {
        display: flex;
        border-radius: 20px;
        box-shadow: 3px 4px 4px rgba(255, 217, 183, 0.13);
    }

    h1 {
        font-weight: 600;
    }

    h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        letter-spacing: 3px;
    }

    p {
        font: normal 400 1rem 'Montserrat', san-serif;
        letter-spacing: 2px;
    }

    .option-selected {
        background: linear-gradient(90deg, #F9C409 0%, #EA0B60 48.42%, #8F09F9 99.97%);
        border: none;
    }

    .title-desktop {
        font-family: 'Poppins', 'sans-serif';
        font-size: 30px;
        font-weight: 700;
        line-height: 72px;
        letter-spacing: 0em;
        text-align: left;
    }
}