@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .my-container {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background: theme('colors.violet-trans');
        z-index: 30;
        backdrop-filter: blur(15px);
    }
}